# NextAuth secret, generate with `npx auth secret` or `openssl rand -base64 33`
AUTH_SECRET=

# Base URL of the backend REST API
NEXT_PUBLIC_API_URL=http://localhost:3001/api/v1

# Public URL of this app
NEXT_PUBLIC_APP_URL=http://localhost:3000
